body {
    background-color: #282c34;
    width: 100%;
}
.main {
    padding: 40px;

    color: #ececec;
    display: grid;
    grid-gap: 20px;
    align-content: space-between;


}
.navigation-bar {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-auto-flow: column;
    text-transform: uppercase;
}


.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100px;
}
ul {
  border: yellowgreen 1px solid;


}

.App {
    text-align: center;
    border: #282c34 1px solid;
    padding: 80px;
    color: #282c34;
    background-color: #ececec;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

}



  .App-logo {
    width: 70px;
    
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 40s linear;
      -webkit-animation: App-logo-spin infinite 40s linear;
}
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  